body{
	background-color: white;
	margin-left: 2em;
	font-family: "Verdana", sans-serif;
}
img{
	border-style: solid;
	border-color : black;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
}

LI.img{
	margin: 0px 10px 0px 0px;
}
